/* SIDEBAR */

.sidebar-about h1 {
  font-size: 1.5em; /* Adjust the font size as needed */
  font-family: "PT Sans", Helvetica, Arial, sans-serif;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sidebar-about p.lead {
  font-size: 0.9em; /* Adjust the font size as needed */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* SIDEBAR: SOCIALS */

.sidebar-connect {
  margin-top: 20px;
  margin-bottom: 20px;
}

.sidebar-connect h4 {
  color: #fff;
  margin-bottom: 10px;
}

.social-icons {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 10px;
}

.social-icons li {
  display: inline-block;
}

.social-icon {
  font-size: 1.5em;
  color: #fff;
  text-decoration: none;
}

@media (max-width: 768px) {
  .social-icons {
    justify-content: center;
  }
}

/* PROJECTS */

.projects {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin-top: 1em;
}

.project {
  display: flex;
  align-items: center;
  padding: 20px;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
  position: relative;
  overflow: hidden;
}

.project:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  background-color: #fff;
}

.project-icon {
  font-size: 2em;
  margin-right: 20px;
  color: #000; 
  width: 50px; 
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.project-content {
  flex: 1;
}

.project h2 {
  font-size: 1.4em;
  color: #333;
  margin: 0 0 10px;
  font-weight: bold;
}

.project .status {
  font-size: 0.9em;
  color: #666;
  margin-left: 10px;
}

.project p {
  margin: 10px 0 0;
  color: #555;
  line-height: 1.6;
}

.project a {
  color: #007bff;
  text-decoration: none;
}

.project a:hover {
  text-decoration: underline;
}

.projects .project h2 {
  font-size: 1.2em;
  margin: 0;
  color: #000;
  font-weight: 400;
  text-decoration: none;
}

.projects .project h2 a {
  color: #000;
  text-decoration: none;
}

.projects .project h2 a:hover {
  text-decoration: underline;
}