---
---

@import "minima";

.site-header { border-top: none; border-bottom: none;}
.site-title { font-size: 32px; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-weight: 500; padding-right: 20px}